@page "/login"

@layout LoginLayout
@inject HttpClient Http
@inject Account Account
@inject SignUpPopup SignUpPop
@inject NavigationManager NavigationManager
@inject ISecureStorage SecureStorage

@using System.Net
@using Mixi.Shared.Models.Account
@using Mixi.Shared.Models.UI
@using Mixi.SharedUI.Components.Layout
@using Mixi.SharedUI.Components.UI
@implements IDisposable

<div class="container">

    <div class="@(SignUpPop.MouseStatus ? "loginContainerAfter" : "loginContainerBefore")" onmouseenter="@MouseEnter"
         onmouseleave="@MouseLeave">
        <div class="title">
            MIXI
        </div>
        <div class="loginBox items-center">

            <div class="login">
                <div class="data-box">
                    <input type="text" @bind="Account.Username" onkeyup="@Enter" required="required"/>
                    <label> LOGIN </label>
                </div>
                <br/>
                <div class="data-box">
                    <input class="bg-[]" type="password" @bind="Account.Password" onkeyup="@Enter" required="required"/>
                    <label> PASSWORD </label>
                </div>
                <br/>
                <div class="loginButton" @onclick="HandleUserLogin">
                    <div class="logButton">
                        <div class="logButton-content">
                            LOG IN
                        </div>
                    </div>
                </div>
                <div class="loginButton" @onclick="ShowSignUpPop">
                    <div class="logButton">
                        <div class="logButton-content">
                            SIGN UP
                        </div>
                    </div>
                </div>

            </div>
            <PopupContainer @ref="_popup"></PopupContainer>
        </div>

    </div>

</div>

@code {
    private PopupContainer _popup = null!;

    public class LoginResponseDto
    {
        public string Message { get; set; }
        public string Token { get; set; }
    }

    protected override void OnInitialized()
    {
        SignUpPop.MouseStatusChange += () => InvokeAsync(StateHasChanged);
        SignUpPop.IsLoggedChange += () => InvokeAsync(StateHasChanged);
        SignUpPop.IsVisibleChange += () => InvokeAsync(StateHasChanged);
        SignUpPop.IsVisibleChange += () =>
        {
            Account.Password = string.Empty;
            Account.Username = string.Empty;
            Account.PasswordRepeat = string.Empty;
        };
        base.OnInitializedAsync();
    }


    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter")
        {
            await HandleUserLogin();
        }
    }

    private async Task HandleUserLogin()
    {
        if (Account.Username != string.Empty && Account.Password != string.Empty)
        {
            var response = await Http.PostAsJsonAsync("api/User/login", Account);


            if (response.IsSuccessStatusCode)
            {
                var loginResult = await response.Content.ReadFromJsonAsync<LoginResponseDto>();

                if (loginResult != null && !string.IsNullOrEmpty(loginResult.Token))
                {
                    await SecureStorage.SetAsync("auth_token", loginResult.Token);

                    NavigationManager.NavigateTo("/menu");
                }
            }
            else if (response.StatusCode == HttpStatusCode.NotFound)
            {
                ShowSignUpPop();
            }
            else if (response.StatusCode == HttpStatusCode.Unauthorized)
            {
            }
        }
    }

    private async void ShowSignUpPop()
    {
        Account.Password = string.Empty;
        Account.Username = string.Empty;
        Account.PasswordRepeat = string.Empty;
        Account.UserType = string.Empty;
        NavigationManager.NavigateTo("/register");
    }

    public void Dispose()
    {
        SignUpPop.IsVisibleChange -= StateHasChanged;
        SignUpPop.IsLoggedChange -= StateHasChanged;
        SignUpPop.MouseStatusChange -= StateHasChanged;
    }

    public void MouseEnter()
    {
        SignUpPop.MouseStatus = true;
    }

    public void MouseLeave()
    {
        SignUpPop.MouseStatus = false;
    }

}