

@rendermode InteractiveServer


@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@using mixi.Components.Layout
@using mixi.Components.UI
@using mixi.Modules.Enums
@using mixi.Modules.Users
@using mixi.Modules.Account
@using mixi.Components.Popups
@using mixi.Modules.UI


@layout LoginLayout
@inject PasswordHash PassHash
@inject SignUpPopup SignUpPop
@inject ProtectedSessionStorage Storage

@implements IDisposable

<div class="@(SignUpPop.IsLogged ? "hidden" : "container")">
    
    <div class="@(SignUpPop.MouseStatus ? "loginContainerAfter" : "loginContainerBefore")" onmouseenter="@MouseEnter" onmouseleave="@MouseLeave">
    <div class="title">
       MIXI
    </div>
    <div class="loginBox items-center">

        <div class="login">
            <div class="data-box">
                <input type="text" @bind="SignUpPop.Username" onkeyup="@Enter" required="required"/>
                <label> LOGIN </label>
            </div>
            <br/>
            <div class="data-box">
                <input class="bg-[]" type="password" @bind="SignUpPop.Password" onkeyup="@Enter" required="required"/>
                <label> PASSWORD </label>
            </div>
            <br/>
            <div class="loginButton" @onclick="HandleUserLogin">
                <div class="logButton">
                    <div class="logButton-content">
                        LOG IN
                    </div>
                </div>
            </div>
            <div class="loginButton"  @onclick="ShowSignUpPop">
                <div class="logButton" >
                    <div class="logButton-content">
                        SIGN UP
                    </div>
                </div>
            </div>
         
        </div>
        <PopupContainer @ref="_popup"></PopupContainer>
    </div>
   
    </div>

</div> 

@code {
    private User _user = new();
    private LoginStatus _loginStatus;
    private PopupContainer _popup = null!;

    protected override void OnInitialized()
    {
        this.SignUpPop.MouseStatusChange += () => InvokeAsync(StateHasChanged);
        this.SignUpPop.IsLoggedChange += () => InvokeAsync(StateHasChanged);
        this.SignUpPop.IsVisibleChange += () => InvokeAsync(StateHasChanged);
        this.SignUpPop.IsVisibleChange += () =>
        {
            SignUpPop.Password = String.Empty;
            SignUpPop.Username = String.Empty;
            SignUpPop.PasswordRepeat = String.Empty;
        };
        base.OnInitializedAsync();
    }


    private async Task Enter(KeyboardEventArgs e)
    {
        if (e.Code is "Enter" or "NumpadEnter" )
        {
            await HandleUserLogin();
        }
    }

    private async Task HandleUserLogin()
    {
        if (SignUpPop.Username != String.Empty && SignUpPop.Password != String.Empty)
        {
            _loginStatus = await PassHash.CheckPassword(SignUpPop.Password, SignUpPop.Username);
            Console.Out.Write(_loginStatus);
            
            if (_loginStatus == LoginStatus.Success)
            {
                SignUpPop.IsLogged = true;
                await Storage.SetAsync("IsLogged", SignUpPop.IsLogged);
            }
            else if(_loginStatus == LoginStatus.NoAccount)
            {
                ShowSignUpPop();
            }
            
        }
    }

    private async void ShowSignUpPop()
    {
        SignUpPop.Password = String.Empty;
        SignUpPop.Username = String.Empty;
        SignUpPop.PasswordRepeat = String.Empty;
        SignUpPop.UserType = string.Empty; 
        _popup.ShowComponent<SignIn>();
        await Storage.SetAsync("SignUpPopupIsVisible", true);  
    }
    
    public void Dispose()
    {
        this.SignUpPop.IsVisibleChange -= StateHasChanged;
        this.SignUpPop.IsLoggedChange -= StateHasChanged;
        this.SignUpPop.MouseStatusChange -= StateHasChanged;
    }

    public void MouseEnter()
    {
        SignUpPop.MouseStatus = true;
    }

    public void MouseLeave()
    {
        SignUpPop.MouseStatus = false;
    }

}